<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>어서오세요! 삼채두부</title>
    <link rel="stylesheet" href="Samche\Samche\static\css\style.css">
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>
<body style="background-color: linen; font-family: 'Jua', sans-serif;">
    {% block content %}



    {% endblock %}  
</body>
</html>